.mx-shadow {
  box-shadow: 2ch 1em 0 0 rgba(0, 0, 0, 0.7);
}
nav {
  position: relative;
  z-index: 1;
}
nav ul {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #aaaaaa;
  cursor: default !important;
}
nav ul li {
  position: relative;
  cursor: pointer;
  padding: 0 1ch;
  white-space: nowrap;
  text-indent: 0;
}
nav ul li::before {
  content: "";
}
nav ul li:empty {
  height: 1em;
}
nav ul li:empty::before {
  content: "";
  position: absolute;
  left: -0.5ch;
  right: -0.5ch;
  top: calc(0.4375em);
  border-top: calc(0.0625em) solid #000000;
}
nav ul li:empty:hover {
  background-color: transparent !important;
}
nav ul li em {
  color: #aa0000;
}
nav > ul {
  height: 1em;
}
nav > ul ul {
  box-shadow: 2ch 1em 0 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  position: relative;
  padding: 1em 2ch;
  position: absolute;
  top: 1em;
  left: 0;
  display: none;
}
nav > ul ul::before {
  content: "";
  position: absolute;
  border-color: #000000;
}
nav > ul ul::before {
  left: calc(1.4375ch);
  right: calc(1.4375ch);
  top: calc(0.46875em);
  bottom: calc(0.46875em);
  border-style: solid;
  border-width: calc(0.0625em) 0.125em;
}
nav > ul > li {
  float: left;
}
nav li:hover {
  background-color: #00aa00;
}
nav li:hover > ul {
  display: block;
}
label,
input,
button {
  cursor: pointer;
}
input[type=radio] {
  position: absolute;
  opacity: 0;
}
input[type=radio] + label {
  white-space: pre;
  background-color: #00aaaa;
  padding: 0 1ch;
}
input[type=radio] + label::before {
  content: "( )";
  margin-right: 1ch;
}
input[type=radio]:checked + label::before {
  content: "(•)";
}
input[type=radio]:focus + label {
  color: #ffffff;
}
input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] + label {
  white-space: pre;
  background-color: #00aaaa;
  padding: 0 1ch;
}
input[type=checkbox] + label::before {
  content: "[ ]";
  margin-right: 1ch;
}
input[type=checkbox]:checked + label::before {
  content: "[X]";
}
input[type=checkbox]:focus + label {
  color: #ffffff;
}
input[type=button],
button {
  padding: 0 1ch;
  min-width: 8ch;
  color: #000000;
  box-shadow: 1ch 0.5em 0 #000000;
  background-color: #00aa00;
}
input[type=button]:focus,
button:focus {
  color: #ffffff;
}
input[type=button] + input[type=button],
input[type=button] + button,
button + input[type=button],
button + button {
  margin-left: 3ch;
}
input[type=text],
input[type=password] {
  padding: 0 1ch;
  background-color: #0000aa;
  color: #ffffff;
}
table {
  border-collapse: collapse;
}
table thead tr:last-child td {
  padding-bottom: calc(0.4375em);
  border-bottom: calc(0.1875em) double #ffffff;
}
table thead + tbody tr:first-child td {
  padding-top: calc(0.375em);
}
table td:not(:last-child) {
  padding-right: calc(0.40625ch);
}
table td + td {
  padding-left: calc(0.46875ch);
  border-left: calc(0.125em) solid #ffffff;
}
@font-face {
  font-family: DOSVGA;
  src: url("../resources/MorePerfectDOSVGA.ttf");
}
* {
  font-family: DOSVGA;
  line-height: 1;
  padding: 0;
  border: none;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
body {
  margin: 0;
  color: #ffffff;
  background-image: url(../resources/bg.png);
  background-size: 1ch 1em;
}
em {
  color: #ffff55;
}
ol,
ul {
  padding-left: 4ch;
}
ul > li {
  list-style: none;
  text-indent: -2ch;
}
ul > li::before {
  content: "• ";
}
.window {
  box-shadow: 2ch 1em 0 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  position: relative;
  padding: 1em 1ch;
  background-color: #0000aa;
}
.window::before {
  content: "";
  position: absolute;
  border-color: #ffffff;
}
.window::before {
  left: calc(0.34375ch);
  right: calc(0.34375ch);
  top: calc(0.375em);
  bottom: calc(0.4375em);
  border-style: double;
  border-width: calc(0.1875em) 0.3125em;
}
.window > * {
  position: relative;
}
.window > h2:first-child {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0;
  padding: 0 1ch;
  transform: translate(-50%, 0);
  background-color: #0000aa;
  color: #ffffff;
}
.window .close {
  position: absolute;
  top: 0;
  background-color: #0000aa;
}
.window .close::before {
  color: #ffffff;
  content: "[ ]";
}
.window .close::after {
  position: absolute;
  top: 0;
  left: 1ch;
  color: #55ff55;
  content: "■";
}
.window .close.left {
  left: 2ch;
}
.window .close.right {
  right: 2ch;
}
.window.form {
  color: #000000;
  box-shadow: 2ch 1em 0 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  position: relative;
  padding: 1em 1ch;
  background-color: #aaaaaa;
}
.window.form::before {
  content: "";
  position: absolute;
  border-color: #ffffff;
}
.window.form::before {
  left: calc(0.34375ch);
  right: calc(0.34375ch);
  top: calc(0.375em);
  bottom: calc(0.4375em);
  border-style: double;
  border-width: calc(0.1875em) 0.3125em;
}
.window.form > * {
  position: relative;
}
.window.form > h2:first-child {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0;
  padding: 0 1ch;
  transform: translate(-50%, 0);
  background-color: #aaaaaa;
  color: #ffffff;
}
.window.form .close {
  position: absolute;
  top: 0;
  background-color: #aaaaaa;
}
.window.form .close::before {
  color: #ffffff;
  content: "[ ]";
}
.window.form .close::after {
  position: absolute;
  top: 0;
  left: 1ch;
  color: #55ff55;
  content: "■";
}
.window.form .close.left {
  left: 2ch;
}
.window.form .close.right {
  right: 2ch;
}
