@black: #000;
@red-dark: #a00;
@green-dark: #0a0;
@brown-dark: #a50;
@blue-dark: #00a;
@magenta-dark: #a0a;
@cyan-dark: #0aa;
@gray-light: #aaa;

@gray-dark: #555;
@red-light: #f55;
@green-light: #5f5;
@yellow-light: #ff5;
@blue-light: #55f;
@magenta-light: #f5f;
@cyan-light: #5ff;
@white: #fff;

@font-face {
	font-family: DOSVGA;
	src: url("../resources/MorePerfectDOSVGA.ttf");
}

.mx-shadow {
	box-shadow: 2ch 1em 0 0 rgba(0, 0, 0, 0.7);
}

.mx-border {
	content: "";
	position: absolute;
	left: 0.37ch;
	right: 0.37ch;
	top: 0.4em;
	bottom: 0.4em;
	border-color: @white;
	border-style: double;
	border-width: 3px 5px;
}

.mx-window(@background) {
	box-sizing: border-box;
	position: relative;
	background-color: @background;
	.mx-shadow;
	padding: 1em 1ch;

	& > * {
		position: relative;
	}

	&::before {
		.mx-border;
	}

	& > h2:first-child {
		position: absolute;
		left: 50%;
		top: 0;
		margin: 0;
		padding: 0 1ch;
		transform: translate(-50%, 0);
		background-color: @background;
		color: @white;
	}

	.close {
		position: absolute;
		top: 0;
		background-color: @background;

		&::before {
			color: @white;
			content: "[ ]";
		}

		&::after {
			position: absolute;
			top: 0;
			left: 1ch;
			color: @green-light;
			content: "■";
		}

		&.left { left: 2ch; }
		&.right { right: 2ch; }
	}
}

.mx-radio-checkbox(@empty, @full) {
	position: absolute;
	opacity: 0;

	& + label {
		white-space: pre;
		background-color: @cyan-dark;
		padding: 0 1ch;
	}

	& + label::before {
		content: @empty;
		margin-right: 1ch;
	}

	&:checked + label::before {
		content: @full;
	}

	&:focus + label {
		color: @white;
	}
}

body {
	margin: 0;
	color: @white;
	background-image: url(../resources/bg.png);
}

em {
	color: @yellow-light;
	font-style: normal;
}

* {
	font-family: DOSVGA;
	line-height: 1;
	font-size: 16px;
	font-weight: normal !important;
}

a {
	text-decoration: none;
}

nav {
	position: relative;
	z-index: 1;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		color: @black;
		background-color: @gray-light;
		cursor: default !important;

		li {
			position: relative;
			cursor: pointer;
			padding: 0 1ch;
			white-space: nowrap;

			&:empty {
				height: 1em;

				&::before {
					content: "";
					position: absolute;
					left: -0.5ch;
					right: -0.5ch;
					top: 0.5em;
					border-top: 1px solid @black;
				}

				&:hover {
					background-color: transparent !important;
				}
			}

			em {
				color: @red-dark;
			}
		}
	}

	& > ul {
		height: 1em;

		ul {
			position: absolute;
			top: 1em;
			left: 0;
			display: none;
			padding: 1em 2ch;
			.mx-shadow;

			&::before {
				content: "";
				position: absolute;
				left: 1.37ch;
				top: 0.44em;
				right: 1.37ch;
				bottom: 0.44em;
				border-color: @black;
				border-style: solid;
				border-width: 1px 2px;
			}
		}

		& > li {
			float: left;
		}
	}



	li:hover {
		background-color: @green-dark;
		& > ul {
			display: block;
		}
	}
}

label, input, button {
	cursor: pointer;
}

input[type=radio] {
	.mx-radio-checkbox("( )", "(•)")
}

input[type=checkbox] {
	.mx-radio-checkbox("[ ]", "[X]")
}

input[type=button], button {
	border: none;
	margin: 0;
	padding: 0 1ch;
	min-width: 8ch;
	color: @black;
	box-shadow: 1ch 0.5em 0 @black;
	background-color: @green-dark;

	&:focus {
		color: @white;
	}
}

input[type=text], input[type=password] {
	border: none;
	margin: 0;
	padding: 0 1ch;
	background-color: @blue-dark;
	color: @white;
}

.window {
	.mx-window(@blue-dark);
}

.window.form {
	color: @black;
	.mx-window(@gray-light);
}

